<form id="form" (ngSubmit)="onSubmit()">
  <label for="name">Poller Name: </label><br/>
  <input type="text" name="name" id="name" [(ngModel)]="name" required/><br/>
  <label for="name">Poller URL: </label><br/>
  <input type="text" name="url" id="url" [(ngModel)]="url"
         pattern="https?:\/\/[-a-zA-Z0-9@:%._\+~#=]+\.[-a-zA-Z0-9()@:%_\+.~#?&//=]+"
         oninvalid="this.setCustomValidity('Please enter a properly formed URL')"
         oninput="this.setCustomValidity('')"/><br/>
  <input type="submit" value="Create Poller"/>
</form>
